%h2 About Effectif
%p
  Effectif Development is the home of
  = succeed "," do
    %a{ :href => "http://grahamashton.net"} Graham Ashton
  a freelance web developer and software engineer based in London.
%p
  You can follow me on twitter
  = succeed "." do
    %a{ :href => "http://twitter.com/grahamashton", :rel => "nofollow" } here
